@model TodoListClient.Dtos.PlayerDto

@using System.Globalization;
@using TodoListClient.Enums;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">

    <h2>@Html.DisplayFor(model => model.PlayerName)</h2>
    <div class="contain row">
        <hr />
        <div class="left">
            <table class="table column">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Time
                        </th>
                        <th>
                            Status
                        </th>
                        <th class="cAlign">
                            Home Team
                        </th>
                        <th class="cAlign">
                        </th>
                        <th class="cAlign">
                        </th>
                        <th class="cAlign">
                            Away Team
                        </th>
                        <th class="cAlign">
                            Points
                        </th>
                        <th>
                            Reasons
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var groupList = new List<Stage>();
                        foreach (var item in Model.Matches)
                        {

                            if (!groupList.Contains(item.Stage))
                            {
                                <tr><th colspan="9" scope="colgroup">@item.Stage</th></tr>
                                groupList.Add(item.Stage);
                            }

                            string homeStyle = item.HomeScore > item.AwayScore ? "color:Green" : item.HomeScore < item.AwayScore ? "color:Red" : "color:Blue";
                            string awayStyle = item.AwayScore > item.HomeScore ? "color:Green" : item.AwayScore < item.HomeScore ? "color:Red" : "color:Blue";

                            string reasons = "";
                            if (item.Reasons != null) {
                                foreach (var reason in item.Reasons)
                                {
                                    if (reason != null)
                                        reasons += reason;
                                }
                            }
                <tr>
                    <td>
                        @item.UtcDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
                    </td>
                    <td>
                        @item.UtcDate.ToString("HH:mm", CultureInfo.InvariantCulture)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>

                    <td class="cAlign" style="@homeStyle">
                        @Html.DisplayFor(modelItem => item.HomeTeam)
                    </td>
                    <td class="cAlign">
                        @Html.DisplayFor(modelItem => item.HomeScore)
                    </td>
                    <td class="cAlign">
                        @Html.DisplayFor(modelItem => item.AwayScore)
                    </td>
                    <td class="cAlign" style="@awayStyle">
                        @Html.DisplayFor(modelItem => item.AwayTeam)
                    </td>
                    <td class="cAlign">
                        @Html.DisplayFor(modelItem => item.Points)
                    </td>
                    <td class="cAlign" data-toggle="tooltip" title="@reasons" data-placement="right">
                            @if(!string.IsNullOrEmpty(reasons)) {
                            <i class="fas fa-info-circle"></i>
                        }
                    </td>
                </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="right column">
            @foreach (var item in Model.GroupTables)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th class="cAlign">Rank</th>
                            <th>
                                @item.Key
                            </th>
                            <th class="cAlign">
                                P
                            </th>
                            <th class="cAlign">
                                W
                            </th>
                            <th class="cAlign">
                                D
                            </th>
                            <th class="cAlign">
                                L
                            </th>
                            <th class="cAlign">
                                GF
                            </th>
                            <th class="cAlign">
                                GA
                            </th>
                            <th class="cAlign">
                                GD
                            </th>
                            <th class="cAlign">
                                PTS
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var index = 1;
                            foreach (var team in item.Value)
                            {
                                <tr>
                                    <td class="cAlign">
                                        @index
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => team.Name)
                                    </td>
                                    <td class="cAlign">
                                        @Html.DisplayFor(modelItem => team.Played)
                                    </td>
                                    <td class="cAlign">
                                        @Html.DisplayFor(modelItem => team.Won)
                                    </td>
                                    <td class="cAlign">
                                        @Html.DisplayFor(modelItem => team.Drawn)
                                    </td>
                                    <td class="cAlign">
                                        @Html.DisplayFor(modelItem => team.Lost)
                                    </td>
                                    <td class="cAlign">
                                        @Html.DisplayFor(modelItem => team.GoalsFor)
                                    </td>
                                    <td class="cAlign">
                                        @Html.DisplayFor(modelItem => team.GoalsAgainst)
                                    </td>
                                    <td class="cAlign">
                                        @Html.DisplayFor(modelItem => team.GoalDifference)
                                    </td>
                                    <td class="cAlign">
                                        @Html.DisplayFor(modelItem => team.Points)
                                    </td>
                                </tr>
                                index++;
                            }
                        }
                    </tbody>
                </table>
            }
            <table class="table column">
                <thead>
                    <tr>
                        <th>
                            Golden Boot
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.GoldenBoot)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        @{
            bool isAdmin = Boolean.TryParse(ViewContext.HttpContext.Request.Cookies["IsAdmin"], out isAdmin);
            @if (User.Identity.IsAuthenticated && isAdmin)
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
            }

        }
        <a asp-action="Index">Back to List</a>
    </div>
</div>